/* * {
  box-sizing: border-box;
  outline: 1px solid lightgreen;
} */

.app {
    margin: auto;
    width: 100%;
}

#navBar {
    font-weight: bolder;
    background-color: rgb(27, 48, 75);
    position: fixed;
    width: 100%;
    padding: 5px;
    z-index: 1;
    top: 0;
    font-family: 'Source Sans Pro', sans-serif;
}

#img-logo-nav {
    margin: 10px;
    width: 100px;
    height: 70px;
}

#navbar-tv, #navbar-movie, #navbar-random {
    color: white;
    font-size: large;
}

#btnSearch {
    background-color: rgb(84, 135, 202);
}

#titleStyle {
    /* background-color: rgb(84, 135, 202); */
    padding: 15px;
}

#cards-container{
    padding-top: 20px;
}

#title-container {
    margin-left: 30px;
    margin-top: 20px;
    padding-top: 100px;
}

#cardStyle:hover {
    transform:scale(1.08);
    color: black;
}

#cardStyle {
    border: none;
    width: 19rem;
    color: black;
    margin: 15px;
    height: 350px;
}

#cardStyle img {
    width: 65%;
    height: 220px;
}

#infoCard {
    width: 80%;
    padding-left: 25px;
    padding-right: 25px;
}

#infoCard-container {
    margin-top: -60px;
    background-color: rgb(154, 187, 249);
}

#imgCard {
    height: 310px;
}

#poster img {
    margin-bottom: 20px;
}

#msg-error {
    color: black;
}

#about, #ranked, #poster {
    margin: 20px 0px 20px 0px;
}

#type, #status, #poster {
    padding: 15px;
}

#status {
    width: 95%;
    background-color: rgb(175, 32, 32);
    color: #fff;
}

#about {
    padding-left: 25px;
    width: 80%;
    color: black;
}

#type {
    width: 20%;
    background-color: rgb(73, 132, 233);
}

#ranked {
    width: 60%;
}

#container-ranked {
    height: 40%;
    width: 100%;
    background-color: rgb(102, 152, 240);
}

#titleAbout, #type {
    margin-top: 20px;
    margin-bottom: 20px;
}

#left, #center, #right {
    width: 38%;
}

.icon {
    padding: 15px;
}

#synopsis-container {
    padding-right: 7%;
    padding-left: 12%;
    text-align: justify;
}

#synopsis-container h1 {
    margin: 25px;
}
