/* * {
  box-sizing: border-box;
  outline: 1px solid lightgreen;
} */

.app {
    margin: auto;
    width: 100%;
}

#navBar {
    color: black;
    font-weight: bolder;
    background-color: rgb(143, 180, 227);
    position: fixed;
    width: 100%;
    padding: 15px;
    z-index: 1;
    top: 0;
}

#img-logo-nav {
    margin: 10px;
    width: 60px;
    height: 40px;
}

.text-nav {
    font-size: large;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

#cards-container{
    padding-top: 20px;
}

#title-container {
    margin-left: 30px;
    margin-top: 20px;
    padding-top: 100px;
}

#cardStyle:hover {
    transform:scale(1.08);
    color: black;
}

#cardStyle {
    border: none;
    width: 20rem;
    color: black;
    margin: 15px;
    height: 310px;
}

#cardStyle img {
    width: 65%;
    height: 220px;
}

#cardStyle p {
    font-weight: 600;
    font-size: 18px;
}

#titleStyle {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: black;
}

#infoCard {
    padding-left: 25px;
    margin-bottom: 25px;
    border: 1px solid violet;
}

#poster {
    margin: 20px;
}

#about {
    width: 80%;
    border: 1px solid crimson;
    margin: 20px;
    color: white;
}


